
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OrderItemViewModel
@{
    string title = "Edit Item";
    ViewBag.Title = title;
}

<h2>@title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="SelectedItem.FirstName">Customer First Name</label>
        <input type="text" asp-for="SelectedItem.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SelectedItem.LastName">Customer Last Name</label>
        <input type="text" asp-for="SelectedItem.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SelectedItem.Phone">Customer Phone Number</label>
        <input type="tel" asp-for="SelectedItem.Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SelectedItem.ItemName">Item Name</label>
        <input type="text" asp-for="SelectedItem.ItemName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SelectedItem.ItemBrand">Brand Name</label>
        <input type="text" asp-for="SelectedItem.ItemBrand" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SelectedItem.Quantity">Quantity</label>
        <input type="number" asp-for="SelectedItem.Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SelectedItem.Weight">Weight</label>
        <input type="number" asp-for="SelectedItem.Weight" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SelectedItem.pickupDate">Pickup Date</label>
        @Html.EditorFor(model => model.SelectedItem.pickupDate, new { htmlAttributes = new { @class = "form-control" } })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>

    </div>
    <div class="form-group" style="position: relative">
        <label asp-for="SelectedItem.CuttingInstructions">Cutting Instructions</label>
        <textarea asp-for="SelectedItem.CuttingInstructions" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="SelectedItem.PackagingInstructions">Packaging Instructions</label>
        <textarea asp-for="SelectedItem.PackagingInstructions" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="SelectedItem.OtherComments">Other Comments</label>
        <textarea asp-for="SelectedItem.OtherComments" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="SelectedItem.LocationId" class="form-control">Location of Completed Order</label>
        <select asp-for="SelectedItem.LocationId" class="form-control" asp-items="@(new SelectList(Model.Locations, "LocationId", "Name"))">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="SelectedItem.StatusId" class="form-control">Status of Order</label>
        <select asp-for="SelectedItem.StatusId" class="form-control" asp-items="@(new SelectList(Model.Statuses, "StatusId", "Name"))">
            <option value=""></option>
        </select>
    </div>
    <input type="hidden" asp-for="SelectedItem.OrderItemId" />
    <input type="hidden" asp-for="SelectedItem.orderedOnDate" value="@DateTime.Now" />


    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>
