@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<OrderItem>
@{
    ViewBag.Title = "Order List";
}

<h2>Order List</h2>


<a asp-controller="OrderItem" asp-action="Add">Add New Order</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Pickup Date/Time</th>
            <th>Customer</th>>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            item.setStatus();
        <tr>
            <td>@item.ItemName</td>
            <td>@item.pickupDate</td>
            <td>@item.FullName</td>
            <td class="
                @switch (item.Status)
                {
                    case "Order Placed":
                        <text>bg-info</text>
                        break;
                    case "Ready":
                        <text>bg-success</text>
                        break;
                    case "Complete":
                        <text>bg-secondary</text>
                        break;
                    case "Overdue":
                        <text>bg-danger</text>
                        break;
                    case "ON":
                        <text>bg-danger</text>
                        break;
                
                }">@item.Status</td>

            <td>
                <a asp-controller="OrderItem" asp-action="Details" asp-route-id="@item.OrderItemId" class="btn btn-primary">Details</a>
                @if (!item.IsReady)
                {
                    <a asp-controller="OrderItem" asp-action="Pull" asp-route-id="@item.OrderItemId" class="btn btn-primary">Pull</a>
                }
                @if (!item.IsComplete)
                {
                    <a asp-controller="OrderItem" asp-action="Complete" asp-route-id="@item.OrderItemId" class="btn btn-primary">Complete</a>
                }


            </td>
        </tr>
        }
    </tbody>
</table>